.card-container {
    border: 1px solid black;
    width: 15rem;
    height: 24rem;
    padding: 1rem;
    margin: 1rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.img-container {
    margin: 0 auto;
    width: 13rem;
    height: 15rem;
}

.card-container img {
    max-width: 100%;
    height: auto;
}

.product-details {
    margin: 0 1rem;;
}

.product-details li {
    list-style: none;
}

.brand-name {
    font-size: 1.3rem;
}

