.App {
    color: #212121;
    background-color: #f1f3f6;
}

.main-container {
    display: grid;
    height: 100vh;
    grid-gap: 1rem;
    grid-template-columns: 2fr 8fr;
    grid-template-rows: 1fr 8fr;
    padding-bottom: 0.5rem;
    grid-template-areas:
        "header header"
        "aside main";
}